In [3]:
import pandas as pd
import matplotlib.pyplot as plt

DATA_DIR = "../../daten/output/"

In [7]:
pd.read_stata(DATA_DIR + "chart_ret_exp_vars_by_education.dta")

,education,gebjahr_group,exp_stop_work_mean,exp_stop_work_SEM,exp_pens_uptake_mean,exp_pens_uptake_SEM
0,0.0,1959 and before,71.599998,2.481935,65.500000,0.288675
1,0.0,1960_1969,64.125000,0.548944,65.500000,0.422577
2,0.0,1970_1979,66.500000,2.872281,65.666664,1.333333
3,0.0,1980_1989,65.461540,1.677970,66.384613,1.465581
4,0.0,1990 and above,62.258064,1.033803,65.933334,0.862945
5,1.0,1959 and before,71.687500,1.076169,65.161293,0.651048
6,1.0,1960_1969,64.246910,0.309585,65.111115,0.210085
7,1.0,1970_1979,64.226418,0.536506,65.444443,0.248920
8,1.0,1980_1989,62.711540,0.690015,65.400002,0.636316
9,1.0,1990 and above,64.095238,0.904762,65.857140,0.911006
10,2.0,1959 and before,71.357140,1.636155,66.583336,0.811455
11,2.0,1960_1969,65.693550,0.531697,65.516129,0.267924
12,2.0,1970_1979,66.775002,0.828566,66.552635,0.427865
13,2.0,1980_1989,64.642860,0.627312,66.547623,0.478580
14,2.0,1990 and above,64.157898,1.081676,66.473686,0.575380